/include/ "system-conf.dtsi"
/ {
};
	&spi0 {
		status = "okay";
		spidev@0 {
			compatible = "rohm,dh2228fv";
			spi-max-frequency = <50000000>;
			reg = <0>;
		};
	};
	
	&spi1 {
		status = "okay";
		spidev@0 {
			compatible = "rohm,dh2228fv";
			spi-max-frequency = <50000000>;
			reg = <0>;
		};
	};

	&axi_iic_0 {
		clock-frequency = <100000>;
		status = "okay";
	};

	&axi_iic_1 {
		clock-frequency = <100000>;
		status = "okay";
	};

	&axi_iic_2 {
		clock-frequency = <100000>;
		status = "okay";

	};

